/*  import google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins&family=Roboto:wght@100;400&family=Rubik+Wet+Paint&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@500;600&family=Poppins&family=Questrial&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');

:root{
    --bg:#ffffff;
    --bg1:#faf3e875;
}
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
  }

  body{
    background-color: var(--bg1);
  }
  section{
    padding: 25px;
}
  
  .container {
      align-items: center;
    z-index: 99999999;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    padding: 80px 110px;
    gap: 2rem;
  }

.main-box{
    /*  box border
    background-color: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e; */
    box-shadow: 10px 10px 39px #dee0e4;
    /* background-color:black; */
    padding: 25px;
    margin: auto;
    z-index: 1;
    color: #000000;
    border: 5px #000000;
    border-radius: 10px;
    overflow: hidden;
    border: none;    
    background-color: white;
}

.fa-times{
    padding: 4px;
    font-size: 1.5rem;         
}

.poster-image{
    width: 100%;
    height:auto;
    border-radius: 10px;
}

.date{    
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 9px;
}


.heading{font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 2px;
    /* margin-bottom: 40px; */
    padding: 30px 0;
    text-align: center;
}


.sub-heading{font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-bottom: 40px; */
    text-align: center;
}

.poem{
    text-align: center;
}

.main-box p{
    font-size: 16px;
    line-height: 28px;
    color: #373737;
    font-weight: 400;
}

.main-box h4{
font-size: 30px;
color: #000000;
font-weight: bold;
margin:0;
margin-bottom: 20px;
}

  html{
    scroll-behavior: smooth;
}





/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */

.border{width: 85%; 
    height:auto; 
    border-radius:50%;
    border: 8px solid #0beef9; 
} 

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    /* background: #0beef9; */
    border: 1px solid white;
    /* right: 30px; */
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
.contact{
    color: white;
    text-align: center;
}



.contact .contact-content .column .icon{ 
    width: 61px;
    height: 61px;
    line-height: 60px;
    margin-right: 15px;
    /* box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e; */
    border-radius: 6px;
    transition: 0.4s;
    display: inline-block;
    text-align: center;
    color: #c4cfde;
    cursor: pointer;
}

.contact .contact-content .column .icon:hover{ 
    color: black;
    font-size: larger;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
}

.contact .contact-content .column .icon1:hover{ 
    color: #ffffff;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
}

.contact .contact-content .column .hg-text{
    color: #e4e6ea;
}

.contact .contact-content .column .hg-text1{
    color: #e4e6ea;
}

.contact .contact-content .column .hg-text:hover{
    color: #0beef9;
}



.contact .contact-content .column .contact-image{
    width: 100%;
    height: auto;
    padding: 10px 0px 20px 0px;
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #0beef9;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #b3b3b3;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #0beef9;
  border: 2px solid #0beef9;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: #0beef9;
  background: none;
}

.max-width1{
    max-width: 1300px;
    padding: 0 ;
    margin: auto;
}




  
/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .home .home-content .max-width4 img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    section{
        padding: 10px;
    }
    .container {
        z-index: 99999999;  
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1300px;
        padding: 15px 15px;
        gap: 2rem;
      }
    .main-box{
        font-size: 13px;
        padding: 5px;
    }  
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: linear-gradient(145deg, #1e2024, #23272b);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .home .home-content .column{
        width: 100%;
    }
    .home .home-content .max-width3{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .home .home-content .max-width4{
        flex: 100%;
    }

    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}


















@media (max-width: 690px) {
    p{

    }
    .fa-times{
padding: 10px;
font-size: 1.2rem;
    }
    .max-width{
        padding: 0 23px;
    }
    .max-width1{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .home .home-content .max-width3 .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

  